In [93]:
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt
import numpy as np

In [94]:
# lsit of tickers
spac = ["AAPL", "BA", "KO", "IBM", "DIS", "MSFT" ]

In [95]:
cciv = yf.download("CCIV", start="2020-11-18",  end="2021-01-14", interval="30m")

[*********************100%***********************]  1 of 1 completed

In [96]:
cciv

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2020-11-18 09:30:00-05:00,9.740000,9.740000,9.68,9.680000,9.680000,1055
2020-11-18 10:00:00-05:00,9.670000,9.700000,9.67,9.700000,9.700000,131905
2020-11-18 10:30:00-05:00,9.700000,9.720000,9.69,9.720000,9.720000,17147
2020-11-18 11:00:00-05:00,9.710000,9.730000,9.71,9.720000,9.720000,5447
2020-11-18 11:30:00-05:00,9.720000,9.730000,9.72,9.730000,9.730000,3821
...,...,...,...,...,...,...
2021-01-13 13:30:00-05:00,15.365000,16.790001,15.36,16.660000,16.660000,9385965
2021-01-13 14:00:00-05:00,16.652000,16.669901,15.77,16.000000,16.000000,9049479
2021-01-13 14:30:00-05:00,16.000000,16.650000,15.97,16.535299,16.535299,6991374
2021-01-13 15:00:00-05:00,16.535601,17.120001,16.42,16.809999,16.809999,9426801
2021-01-13 15:30:00-05:00,16.809999,16.870001,16.34,16.700001,16.700001,8530267

In [97]:
cciv = cciv.loc[:,["Close", "Volume"]]

In [98]:
cciv.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 483 entries, 2020-11-18 09:30:00-05:00 to 2021-01-13 15:30:00-05:00
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Close   483 non-null    float64
 1   Volume  483 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 11.3 KB

In [99]:
np.max(cciv.Volume)

40879753

In [100]:
cciv_premerger = cciv.loc[:"2021-01-10"]

In [101]:
cciv_premerger

                             Close  Volume
Datetime
2020-11-18 09:30:00-05:00   9.6800    1055
2020-11-18 10:00:00-05:00   9.7000  131905
2020-11-18 10:30:00-05:00   9.7200   17147
2020-11-18 11:00:00-05:00   9.7200    5447
2020-11-18 11:30:00-05:00   9.7300    3821
...                            ...     ...
2021-01-08 13:30:00-05:00  10.0300   35772
2021-01-08 14:00:00-05:00  10.0300   65080
2021-01-08 14:30:00-05:00  10.0389   17577
2021-01-08 15:00:00-05:00  10.0300   18433
2021-01-08 15:30:00-05:00  10.0300   60381

[444 rows x 2 columns]

In [102]:
cciv_premerger["max"] = cciv_premerger.Volume.max()

In [103]:
cciv_premerger

                             Close  Volume      max
Datetime
2020-11-18 09:30:00-05:00   9.6800    1055  2207685
2020-11-18 10:00:00-05:00   9.7000  131905  2207685
2020-11-18 10:30:00-05:00   9.7200   17147  2207685
2020-11-18 11:00:00-05:00   9.7200    5447  2207685
2020-11-18 11:30:00-05:00   9.7300    3821  2207685
...                            ...     ...      ...
2021-01-08 13:30:00-05:00  10.0300   35772  2207685
2021-01-08 14:00:00-05:00  10.0300   65080  2207685
2021-01-08 14:30:00-05:00  10.0389   17577  2207685
2021-01-08 15:00:00-05:00  10.0300   18433  2207685
2021-01-08 15:30:00-05:00  10.0300   60381  2207685

[444 rows x 3 columns]

In [104]:
cciv_merger = cciv.loc["2021-01-11"]

In [105]:
cciv_merger.head(50)

                            Close    Volume
Datetime
2021-01-11 09:30:00-05:00  10.030    557623
2021-01-11 10:00:00-05:00  10.040    130273
2021-01-11 10:30:00-05:00  10.050    174022
2021-01-11 11:00:00-05:00  10.050     62634
2021-01-11 11:30:00-05:00  10.050    259533
2021-01-11 12:00:00-05:00  10.050     23611
2021-01-11 12:30:00-05:00  11.170    485292
2021-01-11 13:00:00-05:00  11.620  26242689
2021-01-11 13:30:00-05:00  12.330  20874057
2021-01-11 14:00:00-05:00  12.500  13313877
2021-01-11 14:30:00-05:00  12.915  10759519
2021-01-11 15:00:00-05:00  13.100  12432991
2021-01-11 15:30:00-05:00  13.160  14558140

In [106]:
cciv_merger.Volume.max()

26242689

In [107]:
data = {"name":[],"prevMax":[], "postMax":[]}

volume_df = pd.DataFrame(columns=["name", "prevMax", "postMax"])

In [108]:
volume_df.head()

Empty DataFrame
Columns: [name, prevMax, postMax]
Index: []

In [39]:
highest_volume = 0
position = 0
cciv["position"] = 0
position = 0

cciv["hVolume"] = highest_volume
pos_length = 0


for bar in range(len(cciv)):
    if cciv["Volume"].iloc[bar] > highest_volume:
        highest_volume = cciv["Volume"].iloc[bar]
        cciv["hVolume"].iloc[bar] = highest_volume
        print(bar, cciv.Close[bar], cciv.Volume[bar], cciv.hVolume[bar], sep = "|")
        if highest_volume > 4* cciv.hVolume.iloc[bar-1]:
            cciv.position.iloc[bar] = 1
            pos_length = 3
            
    if pos_length != 0:
        cciv.position.iloc[bar] = 1
        pos_length -= 1
    else:
        cciv.position.iloc[bar] = 0

0|9.680000305175781|1055|1055
1|9.699999809265137|131905|131905
27|9.712200164794922|621190|621190
87|9.84000015258789|1076419|1076419
177|9.9399995803833|1094583|1094583
198|9.899999618530273|1629492|1629492
201|9.920000076293945|2207685|2207685
451|11.619999885559082|26242689|26242689
457|14.469900131225586|40879753|40879753

/Applications/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [40]:
cciv.head(50)

                            Close  Volume  position  hVolume
Datetime
2020-11-18 09:30:00-05:00  9.6800    1055         1     1055
2020-11-18 10:00:00-05:00  9.7000  131905         1   131905
2020-11-18 10:30:00-05:00  9.7200   17147         1        0
2020-11-18 11:00:00-05:00  9.7200    5447         1        0
2020-11-18 11:30:00-05:00  9.7300    3821         0        0
2020-11-18 12:00:00-05:00  9.7200   11922         0        0
2020-11-18 12:30:00-05:00  9.7300    6058         0        0
2020-11-18 13:00:00-05:00  9.7206    4159         0        0
2020-11-18 13:30:00-05:00  9.7400   14031         0        0
2020-11-18 14:00:00-05:00  9.7200    3720         0        0
2020-11-18 14:30:00-05:00  9.7200    8488         0        0
2020-11-18 15:00:00-05:00  9.7200   58542         0        0
2020-11-18 15:30:00-05:00  9.7200   34093         0        0
2020-11-19 09:30:00-05:00  9.7300    6158         0        0
2020-11-19 10:00:00-05:00  9.7250    2713         0        0
2020-11-19 10:30:00-05:00  9.7259     226         0        0
2020-11-19 11:00:00-05:00  9.7300     405         0        0
2020-11-19 11:30:00-05:00  9.7200    2147         0        0
2020-11-19 12:00:00-05:00  9.7200   10071         0        0
2020-11-19 12:30:00-05:00  9.7300   12093         0        0
2020-11-19 13:00:00-05:00  9.7200    2300         0        0
2020-11-19 13:30:00-05:00  9.7200     976         0        0
2020-11-19 14:00:00-05:00  9.7200     331         0        0
2020-11-19 14:30:00-05:00  9.7200     431         0        0
2020-11-19 15:00:00-05:00  9.7100    1316         0        0
2020-11-19 15:30:00-05:00  9.7200    4598         0        0
2020-11-20 09:30:00-05:00  9.7164    1608         0        0
2020-11-20 10:00:00-05:00  9.7122  621190         1   621190
2020-11-20 10:30:00-05:00  9.7100   66190         1        0
2020-11-20 11:00:00-05:00  9.7188     302         1        0
2020-11-20 11:30:00-05:00  9.7200    2451         0        0
2020-11-20 12:00:00-05:00  9.7200    9351         0        0
2020-11-20 12:30:00-05:00  9.7200    1302         0        0
2020-11-20 13:00:00-05:00  9.7200   36225         0        0
2020-11-20 13:30:00-05:00  9.7200   27820         0        0
2020-11-20 14:00:00-05:00  9.7200   25473         0        0
2020-11-20 14:30:00-05:00  9.7300   78153         0        0
2020-11-20 15:00:00-05:00  9.7150   46916         0        0
2020-11-20 15:30:00-05:00  9.7200   69905         0        0
2020-11-23 09:30:00-05:00  9.7300    2546         0        0
2020-11-23 10:00:00-05:00  9.7400    7032         0        0
2020-11-23 10:30:00-05:00  9.7400    2688         0        0
2020-11-23 11:00:00-05:00  9.7450    6722         0        0
2020-11-23 11:30:00-05:00  9.7400   20915         0        0
2020-11-23 12:00:00-05:00  9.7450   10594         0        0
2020-11-23 12:30:00-05:00  9.7492    5299         0        0
2020-11-23 13:00:00-05:00  9.7398    3893         0        0
2020-11-23 13:30:00-05:00  9.7500    4282         0        0
2020-11-23 14:00:00-05:00  9.7450    1888         0        0
2020-11-23 14:30:00-05:00  9.7400    3008         0        0

In [120]:
cciv["2021":].

                               Close   Volume  position  hVolume
Datetime
2021-01-04 09:30:00-05:00  10.080000   227376         0        0
2021-01-04 10:00:00-05:00  10.037100   152039         0        0
2021-01-04 10:30:00-05:00  10.040000    53643         0        0
2021-01-04 11:00:00-05:00  10.035000    48710         0        0
2021-01-04 11:30:00-05:00  10.040000    39070         0        0
...                              ...      ...       ...      ...
2021-01-13 13:30:00-05:00  16.660000  9385965         0        0
2021-01-13 14:00:00-05:00  16.000000  9049479         0        0
2021-01-13 14:30:00-05:00  16.535299  6991374         0        0
2021-01-13 15:00:00-05:00  16.809999  9426801         0        0
2021-01-13 15:30:00-05:00  16.700001  8530267         0        0

[104 rows x 4 columns]